.main-header,.home-header {
	padding: .3rem 0;	
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.home-header {
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.logo-group {
	width: 26.5%;
}
.navbar-menu {
	li {
		a {
			text-decoration: none;
			font-size: 0.875rem;
			font-weight: 500;
			color: black;
			padding: 0 0.625rem;
		}
	}
}
.head-btn {
	> ul {
		> li {
			margin: 0 0.3rem !important;
			&:first-child {
				> a {
					background-color: rgba(#ff0405,0.1);
					color: #ff0405;
				}
			}
			&:nth-child(2) {
				> a {
					background-color: rgba(#dfcc6a,0.1);
					color: #dfcc6a;
				}
			}
			&:nth-child(3) {
				> a {
					background-color: rgba(#4ad940,0.1);
					color: #4ad940;
				}
			}
			&:nth-child(4) {
				> a {
					background-color: rgba(#8a15c5,0.1);
					color: #8a15c5;
				}
			}
			&:nth-child(5) {
				> a {
					background-color: rgba(#1b4bbd,0.1);
					color: #1b4bbd;
					transform: rotate(90deg);
				}
			}
			> a {
				width: 35px;
				height: 35px;
				border-radius: 100%;
				display: inline-block;
				text-align: center;
				line-height: 35px;
				font-size: 1.1rem;
			}
		}
	}
}
.search-bar {
	width: 25.5%;
	position: relative;
	input {
		height: 45px;
		border-color: #9eb4e1;
	}
	.search-btn {
		border: none;
		background: none;
		position: absolute;
		right: 0;
		top: 0;
		height: 45px;
		width: 45px;
		line-height: 45px;
		color: rgba(0,0,0,0.5);
		font-size: 1.2rem;
	}
}
.menu-bar {
	background-color: white;
    padding: 0.7rem 0.5rem;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	.container {
		padding-left: 5px;
	}
	.main-menu {
		margin-left: 1.5rem;
		ul {
			li {
				margin: 0 !important;
				&.active {
					a {
						border-color: #b7d4ea;
						background-color: rgba(#b7d4ea, 0.1);
						box-shadow: 0 0 10px #d4ebfd;
					}
				}
				a {
					text-decoration: none;
					color: black;
					font-weight: 500;
					font-size: 0.875rem;
					padding: 0.4rem 1.2rem;
					border: 1px solid transparent;
					display: inline-block;
					border-radius: 20px;
					line-height: 1.2;
				}
			}
		}
	}
}
.col-28 {
	width: 27%;
}
.col-72 {
	width: 73%;
}
.session_btn {
	.btn-login {
		background-color: #E4EFFA;
		border-radius: 35px;
		margin-right: 0.7rem;
	}
	.btn-blue {
		box-shadow: none !important;
		i {
			vertical-align: 1px;
		}
	}
}
/*===== Header Dropdown ======*/
.dropdown-widget {
	> a {
		&::after {
			display: none;
		}
	}
	.dropdown-menu {
		border: none;
		box-shadow:  0px 0px 8px rgba(black, 0.2);
		margin: 0;
		padding: 0;
		.dropdown-top {
			padding: 1rem 1.25rem;
			span {
				font-size: 0.875rem;
				font-weight: 600;
			}
			.badge {
				font-weight: 400 !important;
    			line-height: 1.2;
			}
		}
		.ag-scroll {
			overflow-y: auto;
			max-height: 300px;
			.dropdown-list {
				li {
					padding: 0.625rem;
					border-bottom: 1px solid rgba(black, 0.07);
					&:last-child {
						border-bottom: none;
					}
					&:hover {
						background-color: rgba(black, 0.07);;
					}
					.d-flex {
						margin-bottom: 0.5rem;
					}
					h5 {
						font-size: 0.83rem;
					}
					span {
						font-size: 0.75rem;
					}
				}
			}
		}
		.dropdown-foot {
			padding: 0.625rem;
			border-top: 1px solid rgba(black, 0.07);
		}
	}
}
.notification, .message {
	.dropdown-menu {
		min-width: 350px;
	}
}
.profile-dropdown {
	.dropdown-menu {
		min-width: 260px;
		.dropdown-list {
			> li {
				border: none !important;
				padding: 0 !important;
				a {
					padding: 0.3rem 0.625rem;
					display: block;
					color: black !important;
					&:last-child {
						border-bottom: 1px solid rgba(black, 0.07);
					}
					&:hover {
						background-color: #1A3FFC;
						color: white !important;
					}
					i {
						margin-right: 0.7rem;
						font-size: 1.1rem !important;
					}
					span {
						font-size: 0.875rem !important;
					}
				}
			}
		}
	}
}